@font-face {
    font-family: "Minecraftia";
    src: url("../assets/Minecraftia.ttf");
}

html,
body {
    background: rgba(2, 2, 2, 0.288);
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

 ::-webkit-scrollbar {
    width: 8px;
}

 ::-webkit-scrollbar-track {
    background: none;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(94, 94, 94);
    border-radius: 20px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

p {
    font-size: "100px";
    color: white;
    font-family: "Minecraftia";
}

div {
    margin: 0;
}

.menu {
    background: rgba(2, 2, 2, 0.199);
    -webkit-app-region: drag;
    height: 40px;
    width: 100%;
}

.menuitem {
    display: inline-block;
    height: inherit;
    margin: 0;
    -webkit-transition: background-image 0.1s ease-in-out;
    transition: background-image 0.1s ease-in-out;
}

h1 {
    background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Minecraftia";
    font-size: 25px;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    width: 300px;
    text-align: left;
    text-indent: 10px;
    line-height: 40px;
    vertical-align: top;
}

#discord {
    background: transparent;
    background-image: url("../assets/disc1.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#discord:hover {
    background-image: url("../assets/disc2.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}

#info {
    background: transparent;
    background-image: url("../assets/info1.png");
    background-size: cover;
    float: right;
    height: 30px;
    width: 30px;
    margin: 2.5px;
    margin-left: 0;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#info:hover {
    background-image: url("../assets/info2.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#settings {
    background: transparent;
    background-image: url("../assets/settings1.png");
    background-size: cover;
    float: right;
    height: 30px;
    width: 30px;
    margin: 2.5px;
    margin-left: 0;
    display: none;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#settings:hover {
    background-image: url("../assets/settings2.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

#quit {
    background: transparent;
    background-image: url("../assets/quit1.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-left: 0;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#quit:hover {
    background-image: url("../assets/quit2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#minimize {
    background: transparent;
    background-image: url("../assets/min1.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    margin-left: 0;
    border: none;
    outline: none;
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#minimize:hover {
    background-image: url("../assets/min2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#show {
    background: transparent;
    background-image: url("../assets/show1.png");
    background-size: cover;
    float: right;
    display: none;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    border: none;
    outline: none;
    transform: rotate(0deg);
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
    transition: transform 0.1s ease-in-out;
}

#show:hover {
    background-image: url("../assets/show2.png");
    background-size: cover;
    height: 25px;
    width: 25px;
    cursor: pointer;
}

#pp {
    /*REMOVE*/
    background: transparent;
    background-image: url("../assets/show2.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    border: none;
    outline: none;
    transform: rotate(0deg);
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#ppp {
    /*REMOVE*/
    background: transparent;
    background-image: url("../assets/show1.png");
    background-size: cover;
    float: right;
    height: 25px;
    width: 25px;
    margin: 5px;
    margin-right: 0;
    border: none;
    outline: none;
    transform: rotate(0deg);
    filter: drop-shadow(1px 1px rgb(0, 0, 0));
    -webkit-app-region: no-drag;
}

#titles {
    /* background-color: rgba(255, 0, 0, 0.644); */
    margin: 0;
    padding: 0;
    height: 28px;
    width: inherit;
    overflow: hidden;
    display: none;
}

.titleitems {
    background: -webkit-linear-gradient(rgb(237, 146, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: "Minecraftia";
    font-size: 18px;
    height: 28px;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: block;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    /* background: blue; */
}

#indexdiv {
    margin: 0;
    padding: 0;
    height: calc(100% - 63px);
    width: inherit;
    overflow-y: overlay;
    display: none;
}

.indexes {
    display: inline-block;
    font-family: "Minecraftia";
    font-size: 15px;
    vertical-align: top;
    margin: 0;
    margin-top: 5px;
    padding: 0;
    min-height: inherit;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    color: #AAAAAA;
    white-space: nowrap;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    /* background: red; */
}

li {
    margin-bottom: 5px;
}

.startup {
    background: -webkit-linear-gradient(rgb(237, 146, 255), rgb(255, 255, 255));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: white;
    font-family: "Minecraftia";
    font-size: 22px;
    height: 28px;
    width: 100%;
    margin: 5px;
    padding: 0;
    overflow: hidden;
    text-align: center;
    line-height: block;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
}

.clientbutton {
    display: inline-block;
    font-family: "Minecraftia";
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 1%;
    margin-top: 15px;
    height: 55px;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.clientbutton:hover:not(.updatenotif) {
    background-position: 100% 0;
    cursor: pointer;
    transform: scale(1.1) perspective(1px);
    z-index: -1;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.clientbutton:focus {
    outline: none;
}

.clientbutton#badlion {
    background-image: linear-gradient(to right, #2caddc, #feb730, #feb730, #2caddc);
    box-shadow: 0 4px 15px 0 #2caddc;
}

.clientbutton#lunar {
    background-image: linear-gradient(to right, #1d6cff, #c324ff, #c324ff, #1d6cff);
    box-shadow: 0 4px 15px 0 #c324ff;
}

.clientbutton#vanilla {
    background-image: linear-gradient(to right, rgb(114, 177, 71), rgb(79, 54, 36), rgb(79, 54, 36), rgb(114, 177, 71));
    box-shadow: 0 4px 15px 0 rgb(114, 177, 71);
}

.clientbutton#pvplounge {
    background-image: linear-gradient(to right, rgb(39, 163, 255), #294a7b, #294a7b, rgb(39, 163, 255));
    box-shadow: 0 4px 15px 0 rgb(39, 163, 255);
}

.clientbutton#labymod {
    background-image: linear-gradient(to right, rgb(14, 146, 236), rgb(56, 182, 250), rgb(56, 182, 250), rgb(14, 146, 236));
    box-shadow: 0 4px 15px 0 rgb(56, 182, 250);
}

#clientimg {
    height: 26.5px;
    margin-top: 0;
    padding: 0;
    margin-right: 10px;
    position: relative;
    top: -4.5px;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
}

#settingsdiv,
#infodiv {
    display: none;
    margin: 0;
    padding: 0;
    height: calc(100% - 35px);
    width: inherit;
    overflow-x: hidden;
    overflow-y: scroll;
}

.infopage {
    display: inline-block;
    font-family: "Minecraftia";
    font-size: 18px;
    margin: 0px;
    margin-top: 5px;
    text-align: center;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
}

.settingspage {
    display: inline-block;
    font-family: "Minecraftia";
    font-size: 18px;
    margin: 0px;
    margin-top: 5px;
    text-align: center;
    filter: drop-shadow(2px 2px rgb(0, 0, 0));
    position: relative;
    z-index: 0;
}

.revert {
    background: transparent;
    background-image: url("../assets/revert1.png");
    background-size: cover;
    display: inline-block;
    height: 35px;
    width: 35px;
    margin: 15px;
    margin-left: 10px;
    vertical-align: top;
    border: none;
    outline: none;
}

.revert:hover {
    background-image: url("../assets/revert2.png");
    background-size: cover;
    height: 35px;
    width: 35px;
    cursor: pointer;
}


/*swtich*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 7.5px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #c700c7;
}

input:focus+.slider {
    box-shadow: 0 0 1px #c700c7;
}

input:checked+.slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}


/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.custom-select-wrapper {
    position: absolute;
    user-select: none;
    width: 30%;
    margin-left: 10px;
    z-index: 1;
}

.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}

.custom-select_trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #ffffff;
    height: 30px;
    line-height: 30px;
    background: rgba(82, 82, 82, 0.582);
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: #b9b9b9;
    font-family: Minecraftia;
}

.custom-select_trigger:hover {
    background: rgba(136, 136, 136, 0.74);
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #b9b9b9;
    border-top: 0;
    background: rgb(134, 134, 134);
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 1;
}

.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
    transition: all 0.5s;
}

.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}

.custom-option.selected {
    color: #ffffff;
    background-color: #c700c7;
}

.arrow {
    position: relative;
    height: 15px;
    width: 15px;
    left: 20px;
}

.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}

.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #d6d6d6;
}

.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #d6d6d6;
}

.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}

.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}